<div class="business-card">
  <div class="profile-left">
    <h1>Angel Usiel Ruiz Regino</h1>
    <p>Ingeniería de Software</p>
    <p>Titularme y ser buen ingeniero</p>
  </div>
  <div class="profile-center">
    <img src="https://firebasestorage.googleapis.com/v0/b/imagen-54c5f.appspot.com/o/111.jpeg?alt=media&token=1753569c-49aa-4d97-a8d0-bf6b1bad7db7" alt="Foto de perfil">
  </div>
  <div class="profile-right">
    <ul>
      <li><i class="fas fa-envelope"></i> usiel311.ruiz&#64;gmail.com</li>
      <li><i class="fas fa-phone"></i> 2721345035</li>
      <li><i class="fas fa-map-marker-alt"></i> Acultzingo, Veracruz</li>
      <li><i class="fab fa-twitter"></i> &#64;usl311</li>
    </ul>
  </div>
</div>
