* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.business-card {
  display: flex;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; /* Ocupa el 100% del ancho disponible */
  max-width: none; /* Elimina el ancho máximo predefinido */
  align-items: center;
  justify-content: space-between;
}

.profile-left {
  flex: 1; /* Ocupa todo el espacio disponible a la izquierda */
  padding-right: 20px;
  text-align: left; /* Alinea el texto a la izquierda */
}

.profile-left h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.profile-left p {
  margin: 5px 0;
  font-size: 16px;
  color: #777;
}

.profile-center {
  flex: 0; /* Imagen ajustada solo a su propio tamaño */
  text-align: center;
  margin: 0 40px; /* Margen equilibrado para centrarla */
}

.profile-center img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-right {
  flex: 1; /* Ocupa todo el espacio disponible a la derecha */
  text-align: right; /* Alinea el texto de contactos a la derecha */
}

.profile-right ul {
  list-style: none;
}

.profile-right li {
  margin: 10px 0;
  font-size: 14px;
  color: #333;
}

.profile-right i {
  color: green;
  margin-right: 10px;
}
